<form (ngSubmit)="add(); form.reset()" #form="ngForm">
  <div>
    <label for="new-contact-username">Nom d'utilisateur</label>
    <input type="text" name="username" id="new-contact-username"
    [(ngModel)]="newContact.username" required>
  </div>
  <div>
    <label for="new-contact-email">Adresse courriel</label>
    <input type="email" name="email" id="new-contact-email"
    [(ngModel)]="newContact.email" required email #email="ngModel">
    <p class="error" *ngIf="email.invalid && email.touched">
      Ce champs n'est pas valide.
    </p>
  </div>
  <button [disabled]="form.invalid">Ajouter</button>
</form>
<p>
  {{ newContact | json }}
</p>
