<form [formGroup]="form" (ngSubmit)="save()">
  <div>
    <label for="new-contact-username">Nom d'utilisateur</label>
    <input type="text" name="username" id="new-contact-username"
           formControlName="username" required minlength="4" appSimpleValidator
    >
    <div class="error" *ngIf="username.invalid && (username.touched || username.dirty)">
      <p *ngIf="username.errors.required">Ce champs est obligatoire</p>
      <p *ngIf="username.errors.minlength">Le nom doit comporter au moins 4 caractères</p>
      <p *ngIf="username.errors.simple">Le nom doit comporter au max 120 caractères</p>
    </div>
  </div>
  <div>
    <label for="new-contact-email">Adresse courriel</label>
    <input type="email" name="email" id="new-contact-email" placeholder="username@domain.com"
           formControlName="email" required>
    <div class="error" *ngIf="email.invalid && email.touched">
      <p *ngIf="email.errors.required">Ce champs est obligatoire</p>
      <p *ngIf="email.errors.email">Vous devez saisir un email au format valide</p>
    </div>
  </div>
  <div>
    <label for="new-contact-member-since">Date d'inscription</label>
    <input type="date" name="member-since" id="new-contact-member-since"
           formControlName="memberSince" required>
    <div class="error" *ngIf="memberSince.invalid && memberSince.touched">
      <p *ngIf="memberSince.errors.required">Ce champs est obligatoire</p>
    </div>
  </div>
  <div>
    <label for="new-contact-agency">Agence</label>
    <select name="agency" id="new-contact-agency"
            formControlName="agency" required>
      <option value="" disabled selected>Choisissez une agence</option>
      <option value="0">Troyes</option>
      <option value="1">Compiègne</option>
      <option value="2">Belfort</option>
    </select>
    <div class="error" *ngIf="agency.invalid && agency.touched">
      <p *ngIf="agency.errors.required">Ce champs est obligatoire</p>
      <p *ngIf="agency.errors.choice">Message pour la validation ChoiceValidator</p>
      <p *ngIf="agency.errors.simple">Message pour la validation SimpleValidator</p>
    </div>
  </div>
  <button [disabled]="form.invalid">{{ submitText }}</button>
</form>
